
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

header {
    height: 100px;
    background-color: rgba(246, 249, 252, 0.925);
    display:inline-block;
    width: 100%;
}

header nav {
    float: right;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
    text-decoration: underline;
    color: rgb(235, 127, 136);
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    padding: 15px;
    display: inline;
}

#hero-image {
    height: 750px;
    width: 100%;
    padding-top: 1px;
    background: #e8eced url('../images/login.jpg') center;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

 /* #hero-image.form{
	margin-top: 400px;
}  */

}
#hero-image h2 {
    margin: 180px 0 40px 0;
}
.button-1 {
    display: block;
    text-align: center;
    background: #444;
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}
.button-1:hover {
    background-color: #242a2e;
    color: #fff;
}


footer {
    padding: 60px 0;
    background-color: #0e0f0f;
}
#footer-info {
    width: 380px;
    float: left;
    margin-top: 10px;
}
#footer-links {
    width: 520px;
    float: right;
   
}
#footer-links ul {
    width: 150px;
    float: left;
    margin-left: 20px;
   
}
#footer-links ul li {
   
    margin: 10px 0;
}

header .header{
	background-color: rgb(33, 201, 223);
	height: 45px;
  }
  header a img{
	width: 134px;
    margin-top: 4px;
  }
  .login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
  }
  .login-page .form .login{
	margin-top: -31px;
    margin-bottom: 26px;
  }
  .form {
    top: 100px;
	position: relative;
	z-index: 1;
	background: #30ddd2e7;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background: #e8eced url('../images/login.jpg') no-repeat center;
	
  }
  .form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #7ff0e1;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 12px;
  }
  .form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background-color: #23c9c0;
	background-image: linear-gradient(45deg,#328f8a,#088bac);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }
  .form .message {
	margin: 15px 0 0;
	color: #270606;
	font-size: 12px;
  }
  .form .message a {
	color: #041f27;
	text-decoration: none;
  }
  
  .container {
	position: relative;
	z-index: 1;
	max-width: 360px;
	margin: 20px auto;
	height: 500px;
	
  }

  body {
    background-color: rgb(29, 230, 230);
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: rgb(46, 70, 87);
    font-size: 24px;
    margin-bottom: 20px;
    float: left;
    margin-top: 30px;
    display: block;
    margin-left: 0px;
}
h2 {
    font-weight: 300;
    color: rgb(18, 34, 36);
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
h3 {
    font-size: 20px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #02b8dd;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}
.clear {
    clear: both;
}


